.slowLoad {
    animation: slowLoad 150ms ease;
}

@keyframes slowLoad {
    0%{
        transform: translate(0, -100px);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}